{
    "geometry_original_stl": "data-will-not-commit/data-from-frank/input/full_closed_rotated.stl",
    "centerline_vtp": "data-will-not-commit/data-from-frank/input/centerline_model_rotated.vtp",
    "stent_folder": "",
    "stent_mesh_base": "",
    "output_base_name": "output/geometry_w_coil_",
    "target_elements": "5000000"
}
